<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>SimpleJspServletDB</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--commands servlet-->
    <servlet>
        <display-name>CommandsServlet</display-name>
        <servlet-name>CommandsServlet</servlet-name>
        <servlet-class>servlet.CommandsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommandsServlet</servlet-name>
        <url-pattern>/CommandsServlet</url-pattern>
    </servlet-mapping>
    <!--article servlet-->
    <servlet>
        <display-name>ArticleServlet</display-name>
        <servlet-name>ArticleServlet</servlet-name>
        <servlet-class>servlet.ArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArticleServlet</servlet-name>
        <url-pattern>/ArticleServlet</url-pattern>
    </servlet-mapping>
    <!--new comment servlet-->
    <servlet>
        <display-name>NewCommentServlet</display-name>
        <servlet-name>NewCommentServlet</servlet-name>
        <servlet-class>servlet.NewCommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewCommentServlet</servlet-name>
        <url-pattern>/NewCommentServlet</url-pattern>
    </servlet-mapping>

</web-app>