<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>SimpleJspServletDB</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!--article servlet-->
    <servlet>
        <display-name>articleS</display-name>
        <servlet-name>ArticleServlet</servlet-name>
        <servlet-class>servlet.ArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArticleServlet</servlet-name>
        <url-pattern>/ArticleServlet</url-pattern>
    </servlet-mapping>

    <!--list servlet-->
    <servlet>
        <display-name>listS</display-name>
        <servlet-name>ListArticlesServlet</servlet-name>
        <servlet-class>servlet.ListArticlesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListArticlesServlet</servlet-name>
        <url-pattern>/ListArticlesServlet</url-pattern>
    </servlet-mapping>
    <!--add servlet-->
    <servlet>
        <display-name>addS</display-name>
        <servlet-name>AddArticleServlet</servlet-name>
        <servlet-class>servlet.AddArticleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddArticleServlet</servlet-name>
        <url-pattern>/AddArticleServlet</url-pattern>
    </servlet-mapping>
</web-app>